@page "{rand:int}"
@model EventCore.Samples.Ecommerce.PublicUi.Pages.SalesReportModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Sales Report</h1>
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Sales Order Id</th>
                <th>Name</th>
								<th>Email</th>
								<th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var so in Model.SalesOrders)
            {
                <tr>
                    <td>@so.SalesOrderId</td>
                    <td>@so.CustomerName</td>
										<td>@so.CustomerEmail</td>
										<td>@so.TotalPrice</td>
                </tr>
            }
        </tbody>
				<tfoot>
                <tr>
                    <td><strong>Total:</strong></td>
                    <td></td>
										<td></td>
										<td><strong>@Model.Total</strong></td>
                </tr>
				</tfoot>
    </table>
</form>